{% extends "myBankSystem/base.html" %}

{% block page_header %} 支行信息管理 {% endblock page_header %}

{% block content %}
<section class="section">
    <div class="container">
        {% if request.user.is_superuser %}
            <div class="columns is-multiline">
                <div class="column is-full">
                    <a href="{% url 'myBankSystem:create_branch' %}" class="button is-primary is-pulled-right">创建支行</a>
                </div>
            </div>
        {% endif %}
        <div class="columns is-multiline">
            {% for branch in branches %}
                <div class="column is-one-third">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                {{ branch.branch_name }}
                            </p>
                            <a href="{% url 'myBankSystem:delete_branch' branch.branch_name %}" class="card-header-icon" aria-label="删除支行">
                                <span class="icon">
                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a href="{% url 'myBankSystem:edit_branch' branch.branch_name %}" class="card-header-icon" aria-label="修改支行">
                                <span class="icon">
                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>所在城市: {{ branch.branch_city }}</p>
                                <p>支行电话: {{ branch.branch_tel }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if branches.has_previous %}
                <a class="pagination-previous" href="?page={{ branches.previous_page_number }}">上一页</a>
            {% else %}
                <a class="pagination-previous" disabled>上一页</a>
            {% endif %}

            {% if branches.has_next %}
                <a class="pagination-next" href="?page={{ branches.next_page_number }}">下一页</a>
            {% else %}
                <a class="pagination-next" disabled>下一页</a>
            {% endif %}

            <ul class="pagination-list">
                {% for num in branches.paginator.page_range %}
                    {% if branches.number == num %}
                        <li><a class="pagination-link is-current">{{ num }}</a></li>
                    {% else %}
                        <li><a class="pagination-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>
{% endblock content %}
