<!DOCTYPE html>
<html>
{% extends  "myBankSystem/base.html"%}
{% comment %} <block title>更改密码</block> {% endcomment %}
{% block page_header %}修改登录密码{% endblock %}
{% block content %}
<body>
    <section class="section">
      <div class="container has-text-centered">
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="field">
            <label class="label">{{ form.old_password.label }}</label>
            <div class="control">
              {{ form.old_password }}
              {{ form.old_password.errors }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{ form.new_password1.label }}</label>
            <div class="control">
              {{ form.new_password1 }}
              {{ form.new_password1.errors }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{ form.new_password2.label }}</label>
            <div class="control">
              {{ form.new_password2 }}
              {{ form.new_password2.errors }}
            </div>
          </div>
          <div class="field">
            <div class="control has-text-centered">
              <button class="button is-primary" type="submit">确认</button>
              <a href="{% url 'myBankSystem:index' %}" class="button is-danger">取消</a>
            </div>
          </div>
        </form>
      </div>
    </section>
</body>
{% endblock %}
</html>