{% comment %} {%extends 'myBankSystem/base.html' %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>更改密码</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">更改密码</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="field">
            <label class="label">{{ form.old_password.label }}</label>
            <div class="control">
              {{ form.old_password }}
              {{ form.old_password.errors }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{ form.new_password1.label }}</label>
            <div class="control">
              {{ form.new_password1 }}
              {{ form.new_password1.errors }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{ form.new_password2.label }}</label>
            <div class="control">
              {{ form.new_password2 }}
              {{ form.new_password2.errors }}
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">提交</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>