{% extends "frontend/base.html" %}

{% block page_header %}
  <h2 class="title is-2 has-text-centered">创建一个新的员工</h2>
{% endblock page_header %}

{% block content %}
<div class="container">
  <form method="post" action="{% url 'staffs:create_staff' department.department_id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
      <label class="label">员工姓名</label>
      <div class="control">
        {{ form.staff_name }}
      </div>
      {% if form.staff_name.errors %}
        <p class="help is-danger">{{ form.staff_name.errors }}</p>
      {% endif %}
    </div>
    <div class="field">
      <label class="label">员工性别</label>
      <div class="control">
        {{ form.staff_sex }}
      </div>
      {% if form.staff_sex.errors %}
        <p class="help is-danger">{{ form.staff_sex.errors }}</p>
      {% endif %}
    </div>
    <div class="field">
      <label class="label">员工电话</label>
      <div class="control">
        {{ form.staff_tel }}
      </div>
      {% if form.staff_tel.errors %}
        <p class="help is-danger">{{ form.staff_tel.errors }}</p>
      {% endif %}
    </div>
    <div class="field">
      <label class="label">员工照片</label>
      <div class="control">
        {{ form.staff_photo }}
      </div>
      {% if form.staff_photo.errors %}
        <p class="help is-danger">{{ form.staff_photo.errors }}</p>
      {% endif %}
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary">创建</button>
      </div>
    </div>
    <input type="hidden" name="next" value="{% url 'staffs:staffs' %}">
  </form>
</div>
{% endblock content %}
