{% extends "myBankSystem/base.html" %}

{%block page_header%} 部门信息 {% endblock%}

{% block content %}
<section class="section">
    <div class="container">
        {% if request.user.is_superuser %}
            <div class="columns is-multiline">
                <div class="column is-full">
                    <a href="{% url 'myBankSystem:create_department' %}" class="button is-primary is-pulled-right">创建部门</a>
                </div>
            </div>
        {% endif %}
        <div class="columns is-multiline">
            {% for department in departments %}
                <div class="column is-one-third">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                {{ department.department_name }}
                            </p>
                            <!--在header部分添加编辑部门信息和删除部门的buttons-->
                            {%if request.user.is_superuser%}
                                <a href="{% url 'myBankSystem:edit_department' department.department_id %}" class="card-header-icon" aria-label="编辑部门信息">
                                    <span class="icon">
                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <form method="post" action="{% url 'myBankSystem:delete_department' department.department_id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="card-header-icon" aria-label="删除部门">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </form>
                            {%endif%}
                        </header>
                        <div class="card-content">
                            <div class="content">
                                {%if request.user.is_superuser%}
                                    <p>部门ID: {{ department.department_id }}</p>
                                {%endif%}
                                <p>所属支行: {{ department.branch.branch_name }}</p>
                                <p>部门经理: {{ department.department_manager }}</p>
                                {%if request.user.is_superuser%}
                                    <button class="button is-info" onclick="location.href='{% url 'myBankSystem:department_staff' department.department_id %}'">员工信息</button>
                                    <button class="button is-primary" onclick="location.href='{% url 'myBankSystem:create_staff' department.department_id %}'">创建员工</button>
                                    {% comment %} <button class="button is-warning" onclick="location.href='{% url 'myBankSystem:edit_department' department.department_id %}'">编辑部门信息</button> {% endcomment %}
                                    <button class="button is-danger" onclick="location.href='{% url 'myBankSystem:delete_manager' department.department_id %}'">取消经理</button>
                                    {% comment %} <form method="post" action="{% url 'myBankSystem:delete_department' department.department_id %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="button is-danger">删除该部门</button>
                                    </form>  {% endcomment %}
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if departments.has_previous %}
                <a class="pagination-previous" href="?page={{ departments.previous_page_number }}">上一页</a>
            {% else %}
                <a class="pagination-previous" disabled>上一页</a>
            {% endif %}

            {% if departments.has_next %}
                <a class="pagination-next" href="?page={{ departments.next_page_number }}">下一页</a>
            {% else %}
                <a class="pagination-next" disabled>下一页</a>
            {% endif %}

            <ul class="pagination-list">
                {% for num in departments.paginator.page_range %}
                    {% if departments.number == num %}
                        <li><a class="pagination-link is-current">{{ num }}</a></li>
                    {% else %}
                        <li><a class="pagination-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>
{% endblock content %}
