{% extends "myBankSystem/base.html" %}

{% block page_header %}
  <h2 class="title is-2 has-text-centered">修改员工个人信息</h2>
{% endblock page_header %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="box">
            <form method="post" action="{% url 'myBankSystem:edit_staff' staff.staff_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label class="label">姓名</label>
                    <div class="control">
                        {{ form.name }}
                        {% if form.name.errors %}
                            <p class="helpn is-danger">{{ form.name.errors }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">性别</label>
                    <div class="control">
                        {{ form.sex }}
                        {% if form.sex.errors %}
                            <p class="help is-danger">{{ form.sex.errors }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">电话</label>
                    <div class="control">
                        {{ form.tel }}
                        {% if form.tel.errors %}
                            <p class="help is-danger">{{ form.tel.errors }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">部门</label>
                    <div class="control">
                        {{ form.department }}
                        {% if form.department.errors %}
                            <p class="help is-danger">{{ form.department.errors }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label class="label">照片</label>
                    <div class="control">
                        {{ form.photo }}
                        {% if form.photo.errors %}
                            <p class="help is-danger">{{ form.photo.errors }}</p>
                        {% endif %}
                    </div>
                </div>

                {% if staff.staff_photo %}
                    <div class="field">
                        <label class="label">当前照片</label>
                        <div class="control">
                            <figure class="image is-128x128">
                                <img src="{{ staff.staff_photo.url }}" alt="员工照片">
                            </figure>
                        </div>
                    </div>
                {% endif %}

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">确认修改</button>
                        <a class="button is-danger" href="{% url 'myBankSystem:staff_list' %}">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
